---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---
<Layout title="Paul Learns Blog" description="Blog about what I'm learning">
  <main class="main-wrapper relative overflow-hidden">
    <Hero />
  </main>
</Layout>

<style></style>
