---
interface Props {}

const {} = Astro.props;
---

<!--...::: CTA Section Start :::... -->
<section class="section-cta">
  <!-- Section Background -->
  <div class="bg-[#48C96C]">
    <!-- Section Space -->
    <div class="section-space">
      <!-- Section Container -->
      <div class="container-default">
        <!-- CTA Area -->
        <div
          class="grid grid-cols-1 gap-10 md:grid-cols-[0.55fr_minmax(0,_1fr)] md:gap-16 lg:gap-28 xl:gap-48 xxl:gap-[234px]"
        >
          <!-- CTA Image Block -->
          <div
            class="jos order-2 mx-auto h-auto w-auto md:order-1 md:w-full"
            data-jos_animation="fade-left"
          >
            <img
              src="assets/img/th-13/cta-img.png"
              alt="cta-img"
              width="376"
              height="350"
              class="h-auto w-full"
            />
          </div>
          <!-- CTA Image Block -->
          <div class="jos order-1 md:order-2" data-jos_animation="fade-right">
            <!-- Section Content Wrapper -->
            <div class="mb-8 lg:mb-[50px]">
              <!-- Section Content Block -->
              <div class="max-w-[746px]">
                <div class="mb-5">
                  <h2
                    class="font-Outfit text-4xl font-medium uppercase leading-[1.15] -tracking-[2px] text-black sm:text-5xl lg:text-6xl xl:text-[70px] xxl:text-[80px]"
                  >
                    Tell us more about your needs
                  </h2>
                </div>
              </div>
              <!-- Section Content Block -->
            </div>
            <!-- Section Content Wrapper -->
            <a href="#" class="group relative z-10 inline-block">
              <div
                class="btn is-large is-rounded border-black bg-[#F6F9F0] text-black"
              >
                Start Your Journey
              </div>
              <div
                class="is-rounded absolute inset-0 -z-10 translate-x-[5px] translate-y-[5px] border border-black bg-black transition-all duration-300 ease-linear group-hover:translate-x-0 group-hover:translate-y-0"
              >
              </div>
            </a>
          </div>
        </div>
        <!-- CTA Area -->
      </div>
      <!-- Section Container -->
    </div>
    <!-- Section Space -->
  </div>
  <!-- Section Background -->
</section>
<!--...::: CTA Section End :::... -->

<style></style>
