---
interface Props {

}

const { } = Astro.props;
---
      
      <!--...::: FAQ Section Start :::... -->
      <section class="section-testimonial">
        <!-- Section Space -->
        <div class="section-space">
          <!-- Section Container -->
          <div class="container-default">
            <!-- Section Content Wrapper -->
            <div class="jos mb-[60px] xl:mb-20">
              <!-- Section Content Block -->
              <div class="mx-auto max-w-[856px]">
                <div class="mb-5">
                  <h2
                    class="text-center font-Outfit text-4xl font-medium uppercase leading-[1.15] -tracking-[2px] text-black sm:text-5xl lg:text-6xl xl:text-[70px] xxl:text-[80px]"
                  >
                    Common questions about investing
                  </h2>
                </div>
              </div>
              <!-- Section Content Block -->
            </div>
            <!-- Section Content Wrapper -->

            <!-- Faq Area -->
            <div
              class="grid grid-cols-1 items-start gap-5 md:grid-cols-2 md:gap-16"
            >
              <!-- Accordion List -->
              <ul
                class="jos grid grid-cols-1 gap-6"
                data-jos_animation="fade-right"
              >
                <!-- Accordion Item -->
                <li
                  class="accordion-item active overflow-hidden border-b border-[#CBD2D9] pb-[30px] has-[.accordion-icon-4]:rounded-none md:last:border-none"
                >
                  <!-- Accordion Header -->
                  <div
                    class="accordion-header relative pr-8 font-Outfit text-2xl font-medium leading-[1.33] text-black lg:text-3xl"
                  >
                    <button class="flex flex-1 gap-x-6 text-left">
                      <span class="flex-1"> Create a free account </span>
                    </button>
                    <div
                      class="accordion-icon-4 absolute right-0 top-0 text-xl"
                    >
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                  </div>
                  <!-- Accordion Header -->
                  <!-- Accordion Body -->
                  <div
                    class="accordion-body text-xl -tracking-[0.5px] text-[#2C2C2C] lg:text-2xl"
                  >
                    <p class="pt-4">
                      Open a free account with no credit card. Easy to use
                      anytime on any device.
                    </p>
                  </div>
                  <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <li
                  class="accordion-item overflow-hidden border-b border-[#CBD2D9] pb-[30px] has-[.accordion-icon-4]:rounded-none md:last:border-none"
                >
                  <!-- Accordion Header -->
                  <div
                    class="accordion-header relative pr-8 font-Outfit text-2xl font-medium leading-[1.33] text-black lg:text-3xl"
                  >
                    <button class="flex flex-1 gap-x-6 text-left">
                      <span class="flex-1"
                        >What are the risks associated with ICOs?</span
                      >
                    </button>
                    <div
                      class="accordion-icon-4 absolute right-0 top-0 text-xl"
                    >
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                  </div>
                  <!-- Accordion Header -->
                  <!-- Accordion Body -->
                  <div
                    class="accordion-body text-xl -tracking-[0.5px] text-[#2C2C2C] lg:text-2xl"
                  >
                    <p class="pt-4">
                      Open a free account with no credit card. Easy to use
                      anytime on any device.
                    </p>
                  </div>
                  <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <li
                  class="accordion-item overflow-hidden border-b border-[#CBD2D9] pb-[30px] has-[.accordion-icon-4]:rounded-none md:last:border-none"
                >
                  <!-- Accordion Header -->
                  <div
                    class="accordion-header relative pr-8 font-Outfit text-2xl font-medium leading-[1.33] text-black lg:text-3xl"
                  >
                    <button class="flex flex-1 gap-x-6 text-left">
                      <span class="flex-1"
                        >How can I participate in an ICO?</span
                      >
                    </button>
                    <div
                      class="accordion-icon-4 absolute right-0 top-0 text-xl"
                    >
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                  </div>
                  <!-- Accordion Header -->
                  <!-- Accordion Body -->
                  <div
                    class="accordion-body text-xl -tracking-[0.5px] text-[#2C2C2C] lg:text-2xl"
                  >
                    <p class="pt-4">
                      Open a free account with no credit card. Easy to use
                      anytime on any device.
                    </p>
                  </div>
                  <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
              </ul>
              <!-- Accordion List -->
              <!-- Accordion List -->
              <ul
                class="jos grid grid-cols-1 gap-6"
                data-jos_animation="fade-left"
              >
                <!-- Accordion Item -->
                <li
                  class="accordion-item overflow-hidden border-b border-[#CBD2D9] pb-[30px] has-[.accordion-icon-4]:rounded-none md:last:border-none"
                >
                  <!-- Accordion Header -->
                  <div
                    class="accordion-header relative pr-8 font-Outfit text-2xl font-medium leading-[1.33] text-black lg:text-3xl"
                  >
                    <button class="flex flex-1 gap-x-6 text-left">
                      <span class="flex-1"
                        >Can I start trading with just $1?</span
                      >
                    </button>
                    <div
                      class="accordion-icon-4 absolute right-0 top-0 text-xl"
                    >
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                  </div>
                  <!-- Accordion Header -->
                  <!-- Accordion Body -->
                  <div
                    class="accordion-body text-xl -tracking-[0.5px] text-[#2C2C2C] lg:text-2xl"
                  >
                    <p class="pt-4">
                      Open a free account with no credit card. Easy to use
                      anytime on any device.
                    </p>
                  </div>
                  <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <li
                  class="accordion-item overflow-hidden border-b border-[#CBD2D9] pb-[30px] has-[.accordion-icon-4]:rounded-none md:last:border-none"
                >
                  <!-- Accordion Header -->
                  <div
                    class="accordion-header relative pr-8 font-Outfit text-2xl font-medium leading-[1.33] text-black lg:text-3xl"
                  >
                    <button class="flex flex-1 gap-x-6 text-left">
                      <span class="flex-1"
                        >How to calculate the handling fee?</span
                      >
                    </button>
                    <div
                      class="accordion-icon-4 absolute right-0 top-0 text-xl"
                    >
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                  </div>
                  <!-- Accordion Header -->
                  <!-- Accordion Body -->
                  <div
                    class="accordion-body text-xl -tracking-[0.5px] text-[#2C2C2C] lg:text-2xl"
                  >
                    <p class="pt-4">
                      Open a free account with no credit card. Easy to use
                      anytime on any device.
                    </p>
                  </div>
                  <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
                <!-- Accordion Item -->
                <li
                  class="accordion-item overflow-hidden border-b border-[#CBD2D9] pb-[30px] has-[.accordion-icon-4]:rounded-none md:last:border-none"
                >
                  <!-- Accordion Header -->
                  <div
                    class="accordion-header relative pr-8 font-Outfit text-2xl font-medium leading-[1.33] text-black lg:text-3xl"
                  >
                    <button class="flex flex-1 gap-x-6 text-left">
                      <span class="flex-1"
                        >What are the benefits of investing?</span
                      >
                    </button>
                    <div
                      class="accordion-icon-4 absolute right-0 top-0 text-xl"
                    >
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                  </div>
                  <!-- Accordion Header -->
                  <!-- Accordion Body -->
                  <div
                    class="accordion-body text-xl -tracking-[0.5px] text-[#2C2C2C] lg:text-2xl"
                  >
                    <p class="pt-4">
                      Open a free account with no credit card. Easy to use
                      anytime on any device.
                    </p>
                  </div>
                  <!-- Accordion Body -->
                </li>
                <!-- Accordion Item -->
              </ul>
              <!-- Accordion List -->
            </div>
            <!-- Faq Area -->
          </div>
          <!-- Section Container -->
        </div>
        <!-- Section Space -->
      </section>
      <!--...::: FAQ Section End :::... -->

      <style>
        
      </style>