 <!--...::: Footer Section Start :::... -->
 <footer class="section-footer">
  <!-- Footer Bottom -->
  <div class="bg-black text-[#F6F9F0]">
    <!-- Footer Bottom Spacing -->
    <div class="py-10">
      <!-- Section Container -->
      <div class="container-default">
        <div
          class="flex flex-wrap items-center justify-center gap-x-10 gap-y-5 md:justify-between"
        >
          <!-- Footer Logo -->
          <a href="/" class="">
            <!-- <img
              src="assets/img/logo-light.png"
              alt="Masco"
              width="109"
              height="24"
            /> -->
            <h2 class="text-xl text-slate-50">Paul Learns</h2>

          </a>
          <!-- Footer Logo -->
          <div class="text-center">
            &copy; {new Date().getFullYear()} Paul Learns
          </div> 
        </div>
      </div>
      <!-- Section Container -->
    </div>
    <!-- Footer Bottom Spacing -->
  </div>
  <!-- Footer Bottom -->
</footer>
<!--...::: Footer Section End :::... -->