---
interface Props {}

const {} = Astro.props;
---

<!--...::: Fun-fact Section Start :::... -->
<div class="section-fun-fact">
  <!-- Section Background -->
  <div class="relative z-10">
    <!-- Section Container -->
    <div class="container-default">
      <!-- Fun-fact List -->
      <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
        <!-- Fun-fact Item -->
        <div class="jos" data-jos_delay="0">
          <div class="h-full rounded-[10px] bg-black p-10">
            <div
              class="mb-6 font-Outfit text-[40px] font-medium leading-[1.2] -tracking-[1px] text-[#F6F9F0]"
            >
              Up to
              <span
                class="text-[#48C96C] lg:text-4xl xl:text-6xl xxl:text-[80px]"
                >80</span
              >
            </div>
            <div class="text-2xl -tracking-[0.5px] text-[#F6F9F0]">
              Completed Offerings
            </div>
          </div>
        </div>
        <!-- Fun-fact Item -->
        <!-- Fun-fact Item -->
        <div class="jos" data-jos_delay="0.3">
          <div class="h-full rounded-[10px] bg-black p-10">
            <div
              class="mb-6 font-Outfit text-[40px] font-medium leading-[1.2] -tracking-[1px] text-[#F6F9F0]"
            >
              Up to
              <span
                class="text-[#FC6ADC] lg:text-4xl xl:text-6xl xxl:text-[80px]"
                >$1.95B</span
              >
            </div>
            <div class="text-2xl -tracking-[0.5px] text-[#F6F9F0]">
              24-hour trading volume
            </div>
          </div>
        </div>
        <!-- Fun-fact Item -->
        <!-- Fun-fact Item -->
        <div class="jos" data-jos_delay="0.6">
          <div class="h-full rounded-[10px] bg-black p-10">
            <div
              class="mb-6 font-Outfit text-[40px] font-medium leading-[1.2] -tracking-[1px] text-[#F6F9F0]"
            >
              Up to
              <span
                class="text-[#FFA767] lg:text-4xl xl:text-6xl xxl:text-[80px]"
              >
                0.10%
              </span>
            </div>
            <div class="text-2xl -tracking-[0.5px] text-[#F6F9F0]">
              Lowest transaction fees
            </div>
          </div>
        </div>
        <!-- Fun-fact Item -->
      </div>
      <!-- Fun-fact List -->
    </div>
    <!-- Section Container -->

    <!-- Background -->
    <div class="absolute bottom-0 left-0 -z-10 h-1/2 w-full bg-[#EAEEE3]"></div>
  </div>
  <!-- Section Background -->
</div>
<!--...::: Fun-fact Section End :::... -->

<style></style>
