---
interface Props {}
import { Image } from 'astro:assets';


const {} = Astro.props;
---

<!--...::: Hero Section Start :::... -->
<section class="section-hero" id="top">
  <!-- Hero Section Space -->
  <div
    class="pb-[60px] pt-28 md:pb-20 md:pt-36 lg:pb-[100px] lg:pt-[150px] xxl:pb-[120px] xxl:pt-[150px]"
  >
    <!-- Section Container -->
    <div class="container-default">
      <!-- Hero Area -->
      <div
        class="grid items-center justify-center gap-[50px] md:grid-cols-[1fr_minmax(0,_0.7fr)]"
      >
        <!-- Hero Content Block -->
        <div class="jos">
          <div
            class="mb-6 max-w-xl lg:max-w-2xl xl:max-w-3xl xxl:max-w-[1076px]"
          >
            <h1
              class="mb-6 font-Outfit text-6xl font-medium uppercase leading-[1.1] -tracking-[3px] text-black  md:text-6xl lg:text-7xl xl:text-8xl"
            >
              Paul Learns and Shares
            </h1>
          </div>
          <p class="mb-9 max-w-[746px] lg:mb-14">
            This is a blog post where I write about everything that I am learning around the web.
          </p>
          <a href="/blog" class="group relative z-10 inline-block">
            <div
              class="btn is-large is-rounded border-black bg-[#F6F9F0] text-black"
            >
              Read Something Cool
            </div>
            <div
              class="is-rounded absolute inset-0 -z-10 translate-x-[5px] translate-y-[5px] border border-black bg-black transition-all duration-300 ease-linear group-hover:translate-x-0 group-hover:translate-y-0"
            >
            </div>
          </a>
        </div>
        <!-- Hero Content Block -->

        <!-- Hero Image Block -->
        <div class="overflow-hidden rounded-[50%]">
          <Image
            src="https://images.pexels.com/photos/3153203/pexels-photo-3153203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="hero-img"
            width="578"
            height="578"
            data-jos_animation="zoom-in-down"
            class="h-[500px] w-[500px] object-cover"
          />
        </div>
        <!-- Hero Image Block -->
      </div>
      <!-- Hero Area -->
    </div>
    <!-- Section Container -->
  </div>
  <!-- Hero Section Space -->
</section>
<!--...::: Hero Section End :::... -->

<style></style>
